form>fieldset:last-child{
    background-color: aqua;
    margin: 10px;
}
body{
    margin-bottom: 50px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
form> fieldset:first-child{
    background-color: blueviolet
}
input{
    border: none;
}
input::placeholder{
    color: black
}
div>p{
    margin: 0%
}
p::#rhsangre{
    margin-bottom: 0%;
}
fieldset{
    border: solid, black, 20px;
}